<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519292231797-n17ege9b8m8esifcc1djm6805i24jh29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519292231797-n17ege9b8m8esifcc1djm6805i24jh29</string>
	<key>API_KEY</key>
	<string>AIzaSyAgyYpOAQhW3DfRhHwrq2MIl0BoNNBlWRM</string>
	<key>GCM_SENDER_ID</key>
	<string>519292231797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupe25.servmarket.servmarket</string>
	<key>PROJECT_ID</key>
	<string>servmarket-296fa</string>
	<key>STORAGE_BUCKET</key>
	<string>servmarket-296fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519292231797:ios:7b3f67d26a6dc6018a983c</string>
</dict>
</plist>